@charset "UTF-8";
.logo {
  max-width: 50px;
  transition: 0.4s all ease-in-out;
}

.logo:hover {
  transform: rotate(25deg);
}

.logo img {
  max-width: 100%;
}

.nav-link {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  transition: 0.5s all ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #8280ff;
  transition: 0.5s all ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.header__hamburger {
  display: none;
  position: relative;
  z-index: 50;
  left: 130px;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.header__hamburger span {
  height: 2px;
  width: 10px;
  top: 15px;
  transform: scale(1);
  background-color: #faf6f2;
}

.header__hamburger::before,
.header__hamburger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #faf6f2;
  transition: all 0.3s ease 0s;
}

.header__hamburger::before {
  top: 0;
}

.header__hamburger::after {
  bottom: 0;
}

/* Добавляем класс active для анимации иконки бургера */
.header__hamburger.active span {
  transform: scale(0);
}

.header__hamburger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.header__hamburger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}