@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap");
@import url("../css/favicon.css");
@import url("../css/header.css");
@import url("../css/item-blocks.css");
@import url("../css/progressBar.css");
@import url("../css/title.css");
@import url("../css/adaptive.css");
@import url("../css/hamburger.css");
@import url("../css/switch.css");
@import url("../css/animation.css");
@import url("../css/root.css");

$Raleway: "Raleway" sans-serif;
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

.wrapper {
}

//-------------------------HEADER-------------------------

.header {
    padding-top: 50px;
    margin-bottom: 240px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__hamburger {
        display: none;
    }

    &__menu-block {
        display: flex;
    }

    &__menu-list {
        display: flex;
        align-items: center;

        &_item {
        }

        &_item:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__lang {
        max-width: 50px;
    }

    &__lang img {
        width: 100%;
    }
}
//-------------------------HERO-------------------------
.hero {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 94px;
        text-align: center;
        margin-bottom: 15px;
    }

    &__title span {
    }

    &__paragraph {
        font-family: $Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 59px;
        text-align: center;
        margin-bottom: 70px;
    }

    &__btn {
        font-family: $Raleway;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        padding: 23px 86px;
        transition: 0.4s all ease-in-out;
    }

    &__btn:hover {
        background: none;
    }
}
//-------------------------TOOLS-------------------------
.tools {
    margin-top: 350px;
    padding-top: 70px;
    &__content {
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        margin-bottom: 40px;
    }

    &__block-item-off-icon {
        color: #ff9900;
    }

    &__block-item-off-title {
        font-family: $Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        font-feature-settings: "pnum" on, "lnum" on;
    }
}
//-------------------------PROJECTS-------------------------
.projects {
    margin-top: 400px;
    padding-top: 70px;

    &__content {
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        margin-bottom: 40px;
    }

    &__flex {
        display: flex;
        flex-direction: column;
    }

    &__blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
        align-self: auto;
    }

    &__block-item {
        padding: 30px 32px 43px 52px;
        max-width: 420px;
        border-radius: 15px;
        position: relative;
        transition: 0.5s all ease-in-out;
        align-self: auto;
        &_flex {
            display: flex;
            align-items: center;
        }

        &_title {
            margin-right: 37px;
            font-family: $Raleway;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            transition: 0.5s all ease-in-out;
        }

        &_progres {
        }

        &_progres-side {
        }

        &_progres-title {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 13px;
            margin-bottom: 5px;
            transition: 0.5s all ease-in-out;
        }

        &_desription {
            margin-top: 40px;
        }

        &_description-p {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 6px;
            transition: 0.5s all ease-in-out;
        }

        &_description-l {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
            line-height: 20px;
            transition: 0.5s all ease-in-out;
        }
    }
}
//-------------------------MEDIA-------------------------
.media {
    margin-top: 300px;
    padding-top: 70px;
    &__content {
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        margin-bottom: 40px;
    }

    &__block-item {
        transition: 0.5s all ease-in-out;
    }

    &__block-item-off {
        padding: 17px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__block-item-off-icon {
        margin-right: 15px;
    }

    &__block-item-off-title {
        font-family: $Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        transition: 0.5s all ease-in-out;
    }
}
//-------------------------FOOTER-------------------------
.footer {
    margin-top: 240px;
    &__content {
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
    }

    &__menu-block {
        display: flex;
        flex-direction: column;

        &_item {
        }

        &_item:not(:last-child) {
            margin-bottom: 15px;
        }

        &_item-link {
            position: relative;
            font-family: $Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #fff;
            transition: 0.5s all ease-in-out;
        }

        &_item-link::after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 0;
            height: 2px;
            transition: 0.5s all ease-in-out;
        }
        &_item-link:hover::after {
            width: 100%;
        }
    }

    &__comm-blocks {
        display: flex;
        flex-direction: column;
    }

    &__comm-block {
        display: flex;
        flex-direction: column;
        &_p {
            font-family: $Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #fff;
            margin-bottom: 5px;
        }
        &_link {
            font-family: $Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #fff;
        }
    }

    &__comm-block:not(:last-child) {
        margin-bottom: 20px;
    }

    &__lang {
    }

    &__btns {
    }
}

@media (max-width: 1090px) {
    .container {
        max-width: 950px;
    }
    .projects__blocks {
        justify-content: center;
    }
    .projects__block-item:not(:last-child) {
        margin-bottom: 50px;
    }
}

@media (max-width: 970px) {
    .container {
        max-width: 850px;
    }
}

@media (max-width: 870px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 770px) {
    .header__hamburger {
        display: flex;
        z-index: 5;
    }

    .uk {
        margin-bottom: 15px;
    }

    .header__menu-block {
        display: none;
        flex-direction: column;
        margin: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        overflow-y: auto;
        padding: 150px 0 0 60px;
        animation: burgerAnimation 0.4s;
    }

    .header__menu-block ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__menu-list_item-link {
        font-size: 20px;
    }

    .header__menu-list_item:not(:last-child) {
        margin-bottom: 30px;
    }

    .hero__title {
        font-size: 70px;
    }
    .hero__paragraph {
        font-size: 30px;
    }
    .hero__btn {
        font-size: 18px;
    }
    .container {
        max-width: 650px;
    }
    .section-item:not(:last-child) {
        margin-bottom: 30px;
    }

    .section-block {
        justify-content: center;
        width: 210px;
        margin: 0 auto;
    }

    .projects {
        margin-top: 200px;
    }
}

@media (max-width: 670px) {
    .container {
        max-width: 550px;
    }
    .hero__title {
        font-size: 60px;
    }
    .hero__paragraph {
        font-size: 24px;
    }
    .hero__btn {
        font-size: 16px;
    }
}

@media (max-width: 570px) {
    .container {
        max-width: 450px;
    }
    .hero__title {
        font-size: 50px;
        margin-bottom: 10;
        line-height: 60px;
    }
    .hero__paragraph {
        margin-bottom: 30px;
        line-height: 35px;
    }
    .footer__content {
        flex-direction: column;
    }
    .footer__menu {
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
    }
    .footer__comm-blocks {
        margin-bottom: 30px;
    }
    .footer__comm-block {
        align-items: flex-start;
    }
}

@media (max-width: 470px) {
    .container {
        max-width: 300px;
    }
    .hero__title {
        line-height: 60px;
    }
    .hero__btn {
        padding: 20px 60px;
    }
    .projects__block-item {
        margin-bottom: -10px;
    }
    .projects__block-item_title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .projects__block-item_description-l {
        font-size: 14px;
    }
    .projects__block-item_flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__hamburger {
        left: 70px;
    }
    .header__content {
        align-items: center;
        align-self: center;
    }
    .header__hamburger {
        left: -20px;
    }
    .h2-title {
        font-size: 35px;
        line-height: 35px;
    }
}
